body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.form{
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.getFormInput{
    border-radius: 5px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 20px;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    background-color: rgb(224, 236, 113);
}

#comment{
    height: 120px;
    font-size: 20px;
}

#email{
    font-size: 20px;
}

#name{
    font-size: 20px;
}

.submit{
    margin-bottom: 20px;
    margin-top: 20px;
}

.btnSubmit{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    border-radius: 10px;
    color: black;
    font-size: 25px;
    padding: 10px;
}

.btnSubmit:hover{
    background-color: black;
    color: white;
    
}